*{
    margin:0;
    padding:0;
}
.nav{
    width:100%;
    height:60px;
    z-index:1001;
    /*border:1px solid red;*/
}
.nav-mid{
    width:1200px;
    height:58px;
   /*border:1px solid black;*/
    margin:0 auto;
}
.nav-left{
    width:360px;
    height:46px;
    float:left;
   /* border:1px solid green;*/
    margin-top: 5px;
}
.nav-left>img{
    width:359px;
    height:46px;
}
ul{
    list-style:none;
}
.nav-select{
    float:right;
    height:60px;
    margin-right: 20px;
}
.nav-select>li{
    float:left;
    width:100px;
    text-align: center;
    height:55px;
    line-height: 55px;
    margin-right: 5px;
}
.nav-select a{
    text-decoration: none;
}
.nav-select>li>a{
    color:black;
}
.nav-select li:hover{
    color:#00cf8c;
    border-bottom: 2px solid #00cf8c;
}
.nav-select li:hover a{
    color:#00cf8c;
}
.active1{
    border-bottom: 2px solid #00cf8c!important;
}
.active1>a{
    color:#00cf8c!important;
}
.login{
    width: 80px!important;
    height: 30px!important;
    background: #00cf8c;
    margin-top: 15px!important;
    margin-left:10px;
    line-height: 30px!important;
    color: #fff!important;
    text-align: center!important;
}
.login a{
    color:white!important;
}
.box1{
    width:100%;
    height:600px;
    background: url(../images/background.jpg) center;
    position:relative;
    margin-top: 10px;
}
.box2{
position:absolute;
left:37%;
top:100px;
width:390px;
height:320px;
background-color: #fff;
}
.box2 h2{
    font-size:20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
}
.box2-mid{
    margin-top:20px;
    padding-left: 50px;
}
.box2-mid a{
    text-decoration: none;
}
.loginBynumber{
    font-size: 18px;
    width:150px;
    text-align: center;
    display:inline-block;
    color:black;
    height:35px;
    line-height: 35px;
    
}
.xuanzhong{
    border-bottom: 2px solid #0469b3;
    color:#0469b3;
}
.loginByphone{
    font-size:18px;
    width:150px;
    text-align: center;
    color:black;
    display: inline-block;
}
.firstLogin{
    width:300px;
    padding-left: 50px;
}
.zhanghao{
    width:205px;
    height:32px;
    margin-top:20px;
    margin-left:14px;
    font-size:12px;
    outline: none;
}
.zhanghaoic{
    display:inline;
}
.password{
    width:205px;
    height:32px;
    margin-top:20px;
    margin-left:14px;
    font-size:12px;
    outline: none;
}
.secondLogin{
    width:300px;
    padding-left: 50px;
    display:none;
}
.password1{
    width:105px;
    height:32px;
    margin-top:20px;
    margin-left:14px;
    font-size:12px;
    outline: none;
}
.btn1{
    width:200px;
    margin:auto;
    margin-top:20px;
    margin-left:80px;
    height:30px;
    outline: none;
    background-color: #2d8cf0;
    border-radius: 10px;
    color:white;
}
.btnn{
    width: 33%;
    height: 34px;
    background-color: #2d8cf0;
    border: 1px solid white;
    outline-style: none;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
}
.forgetCode {
    font-size: 14px;
    position: absolute;
    bottom: 12px;
    left: 67px;
    color: black;
    margin-bottom: 20px;
}

.register {
    font-size: 14px;
    position: absolute;
    bottom: 12px;
    right: 75px;
    color: black;
    margin-bottom: 20px;
}

.bottom{
    width:100%;
    height:150px;
    background-color: #00cf8c;
}
.lianjie{
    width:60%;
    margin-left:300px;
    height:60px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
}
.lianjie span{
    color:white;
}
.lianjie a{
    color:white;
    margin-left: 15px;
    text-decoration: none;
}
.banquan{
    width:50%;
    height:20px;
    margin-left:380px;
    color:white;
    margin-top: 20px;
    font-size: 12px;
}
.youxiang{
    width:50%;
    height:20px;
    margin-left:450px;
    color:white;
    font-size: 12px;
}
.footer-right{
    width:100px;
    float:right;
    margin-top:-100px;
    margin-right:60px;
}
.footer-right img{
    width:80px;
}
.footer-right p{
    color:white;
    padding-left:5px;
}
